*,
*::before,
*::after {
  box-sizing: border-box;
}
.box1:hover {
  color: aquamarine;
  background-color: crimson;
}
.box2:hover {
  color: antiquewhite;
  background-color: dimgrey;
}
.tb1 > tr > td:hover {
  background-color: aqua;
  color: brown;
}
.tab1 {
  margin-left: 30px;
  margin-top: 30px;
  width: 50%;
}
.tab1:hover {
  background-color: bisque;
}
body {
  display: flex;
}
.p {
  text-align: left;
}
.box1 {
  display: flex;
  color: black;
  border: 5px dashed green;
  width: 150px;
  height: 200px;
  background-color: blue;
  border-top-left-radius: 10%;
  border-top-right-radius: 20%;
  margin-top: 50px;
  margin-left: 50px;
}
.box2 {
  display: flex;
  color: black;
  border: 5px solid red;
  width: 150px;
  height: 200px;
  background-color: yellow;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 20%;
  margin-top: 10px;
  margin-left: 50px;
}
