*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: block;
}
.box1 {
  width: 150px;
  height: 200px;
  background-color: blue;
  border-top-left-radius: 10%;
  border-top-right-radius: 20%;
  margin-top: 50px;
}
.box2 {
  width: 150px;
  height: 200px;
  background-color: yellow;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 20%;
  margin-top: 10px;
}
