*,
*::before,
*::after {
  box-sizing: border-box;
}
.box1:hover {
  color: aquamarine;
  background-color: crimson;
}

.box2:hover {
  color: antiquewhite;
  background-color: dimgrey;
}
.tb1 > tr > td:hover {
  background-color: aqua;
  color: brown;
}
.tb1 {
  text-align: center;
}
.tab1 {
  margin-left: 30px;
  margin-top: 30px;
  width: 50%;
}
.tab1:hover {
  background-color: bisque;
}

.p1 {
  text-decoration: underline;
  text-transform: uppercase;
  text-indent: 20px;
  line-height: 30px;
  letter-spacing: 5px;
  text-shadow: 2px 2px 4px black, 2px 2px 4px white;
  font-style: italic;

  text-align: left;
}
.box0 {
  display: flex;
}
.box1 {
  color: black;
  border: 5px dashed green;
  width: 150px;
  height: 200px;
  background-color: blue;
  border-top-left-radius: 10%;
  border-top-right-radius: 20%;
  margin-top: 50px;
  margin-left: 50px;
}
.box2 {
  color: black;
  border: 5px solid red;
  width: 150px;
  height: 200px;
  background-color: yellow;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 20%;
  margin-top: 10px;
  margin-left: 50px;
}

.dv1 {
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 300px;
  height: 50px;
  background-color: bisque;
}
.dv2 {
  margin: 5px;
  padding: 10px;
  border: 10px;
  width: 290px;
  height: 50px;
  background-color: bisque;
}
